[Desktop Entry]
Categories=Internet;Office;
Comment=Standalone silo app for Moodle DEI
Exec=silo -a moodledei
GenericName=Moodle DEI
Icon=silo-moodledei
MimeType=
Name=Moodle DEI
Path=
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=silos-moodledei
